Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).
illiteracy.txt

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('./illiteracy.txt', '\t')
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [4]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [5]:
round(0.768663, 4)

0.7687

In [9]:
from scipy import stats

spearman = stats.spearmanr(data['Illit'], data['Births'])
round(spearman[0], 4)

0.753

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.
water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [18]:
import pandas as pd
import numpy as np

data = pd.read_csv('./water.txt', '\t')
print data.head()

data.corr()
print "Pearson corr: ", round(-0.654849, 4)

from scipy import stats

spearman = stats.spearmanr(data['hardness'], data['mortality'])
print "Spearman corr:", round(spearman[0], 4)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
Pearson corr:  -0.6548
Spearman corr: -0.6317

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [25]:
data_south = data.loc[data['location'] == 'South']
data_north = data.loc[data['location'] == 'North']

corr_south = data_south.corr()
corr_north = data_north.corr()

print "Corr in south: ", '\n', corr_south, '\n'
print "Corr in north: ", '\n', corr_north

round(-0.368598, 4)

Corr in south:
           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

Corr in north:
           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

-0.3686

Давайте проанализируем данные опроса 4361 женщин из Ботсваны:
botswana.tsv

О каждой из них мы знаем:

    сколько детей она родила (признак ceb)
    возраст (age)
    длительность получения образования (educ)
    религиозная принадлежность (religion)
    идеальное, по её мнению, количество детей в семье (idlnchld)
    была ли она когда-нибудь замужем (evermarr)
    возраст первого замужества (agefm)
    длительность получения образования мужем (heduc)
    знает ли она о методах контрацепции (knowmeth)
    использует ли она методы контрацепции (usemeth)
    живёт ли она в городе (urban)
    есть ли у неё электричество, радио, телевизор и велосипед (electric, radio, tv, bicycle)

Давайте научимся оценивать количество детей ceb по остальным признакам.

Загрузите данные и внимательно изучите их. Сколько разных значений принимает признак religion?

In [175]:
import pandas as pd
import numpy as np

data = pd.read_csv('./botswana.tsv', '\t')
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [176]:
data.religion.unique()

array(['catholic', 'protestant', 'spirit', 'other'], dtype=object)

In [177]:
print data.count()
print "\nDropped NaN: \n", data.dropna().count()

ceb         4361
age         4361
educ        4361
religion    4361
idlnchld    4241
knowmeth    4354
usemeth     4290
evermarr    4361
agefm       2079
heduc       1956
urban       4361
electric    4358
radio       4359
tv          4359
bicycle     4358
dtype: int64

Dropped NaN:
ceb         1834
age         1834
educ        1834
religion    1834
idlnchld    1834
knowmeth    1834
usemeth     1834
evermarr    1834
agefm       1834
heduc       1834
urban       1834
electric    1834
radio       1834
tv          1834
bicycle     1834
dtype: int64

В разных признаках пропуски возникают по разным причинам и должны обрабатываться по-разному.

Например, в признаке agefm пропуски стоят только там, где evermarr=0, то есть, они соответствуют женщинам, никогда не выходившим замуж. Таким образом, для этого признака NaN соответствует значению "не применимо".

В подобных случаях, когда признак x1x_1x1​ на части объектов в принципе не может принимать никакие значения, рекомендуется поступать так:

    создать новый бинарный признак
    x2=1,x1='не применимо',0,иначе;
    заменить "не применимо" в x1x_1x1​ на произвольную константу ccc, которая среди других значений x1x_1x1​ не встречается.

Теперь, когда мы построим регрессию на оба признака и получим модель вида y=β0+β1x1+β2x2,y=\beta_0 + \beta_1 x_1 + \beta_2 x_2,y=β0​+β1​x1​+β2​x2​, на тех объектах, где x1x_1x1​ было измерено, регрессионное уравнение примет вид y=β0+β1x,y=\beta_0 + \beta_1 x,y=β0​+β1​x, а там, где x1x_1x1​ было "не применимо", получится y=β0+β1c+β2.y=\beta_0 + \beta_1 c + \beta_2.y=β0​+β1​c+β2​. Выбор ccc влияет только на значение и интерпретацию β2\beta_2β2​, но не β1\beta_1β1​.

Давайте используем этот метод для обработки пропусков в agefm и heduc.

    Создайте признак nevermarr, равный единице там, где в agefm пропуски.
    Удалите признак evermarr — в сумме с nevermarr он даёт константу, значит, в нашей матрице XXX будет мультиколлинеарность.
    Замените NaN в признаке agefm на cagefm=0c_{agefm}=0cagefm​=0.
    У объектов, где nevermarr = 1, замените NaN в признаке heduc на cheduc1=−1c_{heduc_1}=-1cheduc1​​=−1 (ноль использовать нельзя, так как он уже встречается у некоторых объектов выборки).

Сколько осталось пропущенных значений в признаке heduc?

In [178]:
data['nevermarr'] = 0
data.loc[data['agefm'].isnull(),'nevermarr'] = 1
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [179]:
data.drop('evermarr', axis=1, inplace=True)
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,NaN,NaN,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [180]:
data['agefm'] = data['agefm'].fillna(0)
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [181]:
data.loc[(data['nevermarr'] == 1) & (data['heduc'].isnull()), 'heduc'] = -1
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [182]:
data['heduc'].isna().sum()

123

In [183]:
data.shape

(4361, 15)

Избавимся от оставшихся пропусков.

Для признаков idlnchld, heduc и usemeth проведите операцию, аналогичную предыдущей: создайте индикаторы пропусков по этим признакам (idlnchld_noans, heduc_noans, usemeth_noans), замените пропуски на нехарактерные значения 
cidlnchld=−1, 
cheduc2=−2 (значение -1 мы уже использовали), 
cusemeth=−1.

Остались только пропуски в признаках knowmeth, electric, radio, tv и bicycle. Их очень мало, так что удалите объекты, на которых их значения пропущены.

Какого размера теперь наша матрица данных? Умножьте количество строк на количество всех столбцов (включая отклик ceb).

In [159]:
data['idlnchld_noans'] = 0
data['heduc_noans'] = 0
data['usemeth_noans'] = 0

data.loc[data['idlnchld'].isnull(),'idlnchld_noans'] = -1
data.loc[data['heduc'].isnull(),'heduc_noans'] = -2
data.loc[data['usemeth'].isnull(),'usemeth_noans'] = -1

data['knowmeth', 'electric', 'radio', 'tv', 'bicycle'].dropna(axis=0, inplace=True)

print "Shape = ", data.shape
print "Ans   = ", float(data.shape[0]) * data.shape[1]

Shape =  (4361, 18)
Ans   =  78498.0

/home/v.granovskiy/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [187]:
a = pd.DataFrame([[1, np.nan, 3], [4, 5, np.nan], [7, 8, 9]])
a.head()

   0    1    2
0  1  NaN  3.0
1  4  5.0  NaN
2  7  8.0  9.0

Постройте регрессию количества детей ceb на все имеющиеся признаки методом smf.ols, как в разобранном до этого примере. Какой получился коэффициент детерминации R^2? Округлите до трёх знаков после десятичной точки.

Если код из примера у вас не воспроизводится:

    убедитесь, что вы сделали так:

    возможно, вам нужно обновить библиотеку patsy; выполните в командной строке

In [164]:
import statsmodels.formula.api as smf

model = smf.ols('ceb ~ age + educ + religion + idlnchld + knowmeth + \
                 usemeth + agefm + heduc + urban + electric + radio + \
                 tv + bicycle + nevermarr + idlnchld_noans + heduc_noans + \
                 usemeth_noans', data = data).fit()

model.summary()

/home/v.granovskiy/anaconda2/lib/python2.7/site-packages/statsmodels/regression/linear_model.py:1633: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])
/home/v.granovskiy/anaconda2/lib/python2.7/site-packages/statsmodels/base/model.py:1100: RuntimeWarning: invalid value encountered in divide
  return self.params / self.bse
/home/v.granovskiy/anaconda2/lib/python2.7/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/home/v.granovskiy/anaconda2/lib/python2.7/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/home/v.granovskiy/anaconda2/lib/python2.7/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.649
Model:                            OLS   Adj. R-squared:                  0.647
Method:                 Least Squares   F-statistic:                     466.0
Date:                Tue, 18 Jun 2019   Prob (F-statistic):               0.00
Time:                        14:15:57   Log-Likelihood:                -7090.9
No. Observations:                4054   AIC:                         1.422e+04
Df Residuals:                    4037   BIC:                         1.432e+04
Df Model:                          16
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -1.0006      0.220     -4.547      0.000      -1.432      -0.569
religion[T.other]         -0.1044      0.083     -1.256      0.209      -0.267       0.059
religion[T.protestant]    -0.0222      0.082     -0.271      0.787      -0.183       0.139
religion[T.spirit]        -0.0076      0.077     -0.098      0.922      -0.159       0.144
age                        0.1682      0.003     50.105      0.000       0.162       0.175
educ                      -0.0684      0.007     -9.201      0.000      -0.083      -0.054
idlnchld                   0.0814      0.011      7.426      0.000       0.060       0.103
knowmeth                   0.5279      0.126      4.183      0.000       0.280       0.775
usemeth                    0.6085      0.048     12.638      0.000       0.514       0.703
agefm                     -0.0572      0.007     -8.375      0.000      -0.071      -0.044
heduc                     -0.0566      0.008     -7.018      0.000      -0.072      -0.041
urban                     -0.2143      0.047     -4.516      0.000      -0.307      -0.121
electric                  -0.2535      0.077     -3.276      0.001      -0.405      -0.102
radio                     -0.0568      0.052     -1.100      0.271      -0.158       0.044
tv                        -0.1197      0.092     -1.296      0.195      -0.301       0.061
bicycle                    0.2055      0.050      4.072      0.000       0.107       0.304
nevermarr                 -2.1906      0.153    -14.364      0.000      -2.490      -1.892
idlnchld_noans                  0          0        nan        nan           0           0
heduc_noans                     0          0        nan        nan           0           0
usemeth_noans                   0          0        nan        nan           0           0
==============================================================================
Omnibus:                      231.086   Durbin-Watson:                   1.870
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              960.292
Skew:                           0.023   Prob(JB):                    2.99e-209
Kurtosis:                       5.384   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""