Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).
illiteracy.txt

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('./illiteracy.txt', '\t')
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [4]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [5]:
round(0.768663, 4)

0.7687

In [9]:
from scipy import stats

spearman = stats.spearmanr(data['Illit'], data['Births'])
round(spearman[0], 4)

0.753

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.
water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [18]:
import pandas as pd
import numpy as np

data = pd.read_csv('./water.txt', '\t')
print data.head()

data.corr()
print "Pearson corr: ", round(-0.654849, 4)

from scipy import stats

spearman = stats.spearmanr(data['hardness'], data['mortality'])
print "Spearman corr:", round(spearman[0], 4)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
Pearson corr:  -0.6548
Spearman corr: -0.6317

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [25]:
data_south = data.loc[data['location'] == 'South']
data_north = data.loc[data['location'] == 'North']

corr_south = data_south.corr()
corr_north = data_north.corr()

print "Corr in south: ", '\n', corr_south, '\n'
print "Corr in north: ", '\n', corr_north

round(-0.368598, 4)

Corr in south:
           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

Corr in north:
           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

-0.3686

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [1]:
#      women men
# more 203   239
# less 718   515

In [3]:
import numpy as np

a = 203.
b = 239.
c = 718.
d = 515.

matt_corr = (a*d - b*c) / np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
print round(matt_corr, 3)

-0.109

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 
5
.
5
×
1
0
−
8
5.5×10 
−8
 , нужно ввести 8).

In [6]:
from scipy.stats import chi2_contingency
obs = np.array([[a, b], [c, d]])
chi2_contingency(obs)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 198.96597015],
        [677.96597015, 555.03402985]]))

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [9]:
women = 203 + 718.
men   = 239 + 515.

women_alko = 203/718.
men_alko = 239/515.

alpha = 0.05
z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
p1 = men_alko
p2 = women_alko
    
left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ men + p2 * (1 - p2)/ women)
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ men + p2 * (1 - p2)/ women)
    
print round(left_boundary, 4)

0.1354

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 
5
.
5
×
1
0
−
8
5.5×10 
−8
 , нужно ввести 8).

In [12]:
n1 = men
n2 = women
    
p1 = men_alko
p2 = women_alko

P = float(p1*n1 + p2*n2) / (n1 + n2)
    
z_stat = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [13]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)
    
proportions_diff_z_test(z_stat, alternative = 'two-sided')

1.687538997430238e-14

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [ ]:
#                      Не доволен	  Более или менее	Доволен
# Не очень счастлив	    197	           111	           33
# Достаточно счастлив	382	           685	           331
# Очень счастлив	    110	           342	           333