Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).
illiteracy.txt

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('./illiteracy.txt', '\t')
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [4]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [5]:
round(0.768663, 4)

0.7687

In [9]:
from scipy import stats

spearman = stats.spearmanr(data['Illit'], data['Births'])
round(spearman[0], 4)

0.753

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.
water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [18]:
import pandas as pd
import numpy as np

data = pd.read_csv('./water.txt', '\t')
print data.head()

data.corr()
print "Pearson corr: ", round(-0.654849, 4)

from scipy import stats

spearman = stats.spearmanr(data['hardness'], data['mortality'])
print "Spearman corr:", round(spearman[0], 4)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
Pearson corr:  -0.6548
Spearman corr: -0.6317

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [25]:
data_south = data.loc[data['location'] == 'South']
data_north = data.loc[data['location'] == 'North']

corr_south = data_south.corr()
corr_north = data_north.corr()

print "Corr in south: ", '\n', corr_south, '\n'
print "Corr in north: ", '\n', corr_north

round(-0.368598, 4)

Corr in south:
           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

Corr in north:
           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

-0.3686