In [3]:
import pandas as pd
import numpy as np

Посчитайте, насколько в группе exp больше пользовательских кликов по сравнению с группой control в процентах от числа кликов в контрольной группе.

Полученный процент округлите до третьего знака после точки.

In [16]:
data = pd.read_csv('./ab_browser_test.csv', ',')
data.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [17]:
data.shape

(566134, 6)

In [18]:
data_exp = data.loc[data['slot'] == 'exp']
data_ctl = data.loc[data['slot'] == 'control']

In [23]:
diff_procent = (data_exp.n_clicks.sum() - data_ctl.n_clicks.sum()) * 100. / data_ctl.n_clicks.sum()
print round(diff_procent, 3)

1.614

Давайте попробуем посмотреть более внимательно на разницу между двумя группами (control и exp) относительно количества пользовательских кликов.

Для этого постройте с помощью бутстрепа 95% доверительный интервал для средних значений и медиан количества кликов в каждой из двух групп. Отметьте все верные утверждения.

In [26]:
data_exp.n_clicks.median()

5.0